._s50zru {
	border-bottom: 1px solid rgb(235, 235, 235) !important;
}
._14i3z6h {
	color: black !important;
	font-size: 18px !important;
	font-weight: inherit !important;
	line-height: inherit !important;
	margin: 0px !important;
	padding: 0px;
}
._hi9sy {
	color: black !important;
	margin-top: 4px !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif !important;
	word-break: break-word !important;
	font-size: 14px !important;
	line-height: 18px !important;
}
._169grxv2 {
	width: 58.3333% !important;
	float: left !important;
}
._169grxv2 {
	padding-left: 8px !important;
	padding-right: 8px !important;
	min-height: 1px !important;
	position: relative !important;
}
h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
._jro6t0 {
	display: flex !important;
}
._jro6t0 {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
}
._hi9sy {
	color: black !important;
	margin-top: 4px !important;
	font-family: sans-serif !important;
	word-break: break-word !important;
	font-size: 14px !important;
	line-height: 18px !important;
}
.profile {
	background-image: url("https://previews.123rf.com/images/topntp/topntp2003/topntp200302246/143088822-abstract-blur-and-defocused-luxury-hotel-lobby-for-background.jpg");
	height: 700px;
	opacity: 0.9;
}
